<div class="header-actions">
  <h2>Clientes</h2>
  <button class="btn-primary" (click)="crearCliente()">Nuevo Cliente</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Contraseña</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.nombres }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>*******</td>
        <td>{{ cliente.estado ? 'Activo' : 'Inactivo' }}</td>
        <td class="actions">
          <button class="btn-icon edit" (click)="editarCliente(cliente)">Editar</button>
          <button class="btn-icon delete" (click)="eliminarCliente(cliente.clienteId!)">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="clientes.length === 0">
        <td colspan="6" class="text-center">No hay clientes registrados.</td>
      </tr>
    </tbody>
  </table>
</div>
